body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    background-color: white !important;   
    margin: 50px !important;
    margin-top: 100px !important;
    gap: 40px;
}

.nav{
    background-color: rgb(16, 126, 215);
    color: white;
    padding: 20px;
    height: 60px;
    width: 100%;
    margin: 0;
    padding-left: 40px !important;
    z-index: 1;
    top: 0;
    font-size: 20px;
    position: fixed;
}

.card{
    margin-top: 50px;
    margin-left: 20px;
    height: 500px;
    width: 600px;
    border: none !important;  
    background-color: aqua !important; 
}

.card-body{
    background-color: aqua;
    color:black !important;
}